* {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

#a, #b, .CD, #other {
  width: 100%;
  /* padding: 10px; */
}

p{
  padding-left: 50%;
  padding-top: 30px;
}

#a {
  height: 75px;
  background-color: red;
}

#b {
  height: 150px;
  background-color: orange;
}

.CD {
  height: 125px;
  background-color: yellow;
}

#content div {
  height: 500px;
}

.boxes {
  width: 50%;
  float: left;
  height: 250px;
  background-color: green;
}

#other {
  height: 80px;
  background-color: blue;
}

@media all and (min-width: 800px) {
  #a{
    height: 100px;
  }
  #body {
    width: 100%;
  }
  #b {
    width: 20%;
    height: 600px;
    float: left;
  }
  #content{
    float: left;
    width: 80%;
  }
  .CD{
    width:50%;
    height: 200px;
    float: left;
  }
  .boxes {
    width: 25%;
    height: 250px;
  }
  #content div{
    height: 450px;
  }
  #other{
    height: 150px;
  }
}